<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Sinatraデモ</title>
  </head>
  <body>
    <h1>Hello World!!</h1>
    <from method = "get">
      <input name = "name">
      <input type ="submit">
    </from>
    <div>
      性別は<%= @gender[]'gender']=='mail' ? '男性': '女性' %>
    </div>
  </body>
</html>

